@media only screen and (min-width: 900px) {
  /*
    Elementos ocultos de CSS
  */
  .img-mobile {
    display: none;
  }

  .links-mobile {
    display: none;
  }

  .links-desktop {
    display: block;
  }

  .img-desktop {
    display: block;
  }

  /*
    Corregir el tamaño maximo de la página
  */
  .main-section {
    max-width: 1440px;
  }

  /*
    Estilos del header
  */
  #main-header>h1 {
    font-size: 42px;
    margin-top: 85px;
  }

  #main-header>p {
    font-size: 18px;
    width: 50%;
  }

  .btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .btn-principal:first-child {
    margin-bottom: 0;
  }

  .btn-principal {
    width: 45%;
  }

  /*
    Estilos del main
  */
  .section-titles h2 {
    font-size: 32px;
  }

  .section-titles p {
    width: 60%;
    line-height: 32px;
  }

  .container-desk {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container-desk .img-desktop {
    width: 60%;
    margin-left: -100px;
  }
  
  .container-desk .subtitles-container {
    width: 40%;
    text-align: left;
    margin-left: 90px;
  }

  .container-desk .subtitles-container p {
    width: 70%;
  }

  /*
    Estilos de la seccion 2
  */
  #section-2 .img-container {
    width: 100%;
  }

  .subtitles-2-desk {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .subtitles-desk {
    width: 100%;
    margin: 0 auto;
  }

  .subtitles-desk h2 {
    font-size: 32px;
    width: 100%;
  }

  .subtitles-2-text {
    width: 30%;
  }

  /*
    Estilos de la seccion 3
  */
  #section-3 {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 100px 0;
  }

  #section-3 > *:not(:last-child) {
    margin-bottom: 0;
  }

  /*
    Estilos de la seccion 4
  */
  #section-4 p {
    width: 80%;
    margin-top: 20px;
  }

  /*
    Estilos del footer
  */
  .footer {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 40px 0;
  }

  .footer .img-container {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .footer .img-container img {
    width: 30%;
  }

  .footer .link-container {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: flex-start;
    align-items: baseline;
    width: 60%;
    height: 100%;
    padding: 0 15%;
    margin: 0 auto;
  }

  .link-container > *:not(:last-child) {
    margin-bottom: 0;
  }

  .link-container > *:not(:nth-child(3)) {
    margin-right: 80px;
  }

  .link-container > *:not(:nth-child(4)),
  .link-container > *:not(:nth-child(5)) {
    margin-bottom: 20px;
  }

  .icon-container {
    width: 20%;
    margin: 0;
  }
}