/*
  Selector universal para reiniciar los parametros generales 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

/*
  Clases Auxiliares
*/
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-p {
  color: hsl(201, 11%, 66%);
}

.color-t {
  color: hsl(210, 10%, 33%);
}

.main-section {
  max-width: 375px;
}

/*
  Estilos del Header
*/
#main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main-header {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#main-header>h1 {
  font-weight: 600;
  width: 85%;
  margin: 70px 0 20px;
}

#main-header>p {
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

/*
  Estilos del btn
*/
.btn-container {
  width: 80%;
}

.btn-principal:first-child {
  margin-bottom: 25px;
}

.btn-principal {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
}

.btn-green {
  background-color: hsl(171, 66%, 44%);
}

.btn-blue {
  background-color: hsl(233, 100%, 69%);
}

/*
  Estilos de las imagenes
*/
.section-titles {
  width: 100%;
}

.img-container {
  width: 80%;
}

.img-container>img {
  width: 100%;
}

/*
  Estilos del main
*/
.section-titles {
  margin: 40px auto 60px;
  width: 85%;
  text-align: center;
}

.section-titles h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.section-titles p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 60px;
}

.section-subtitles {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.section-subtitles h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.section-subtitles p {
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 50px;
}

/*
  Estilos de la seccion 2
*/
#section-2 {
  margin-top: 100px;
}

#section-2 .img-container {
  width: 100%;
}

#section-2 .section-titles {
  margin-bottom: 80px;
}

#section-2 .section-subtitles h2 {
  width: 70%;
  margin: 0 auto;
}

#section-2 .section-subtitles h3 {
  margin-top: 30px;
}

#section-2 .section-subtitles p {
  margin: 20px 0 80px;
}

/*
  Estilos de la seccion 3
*/
#section-3 {
  margin: 40px 0 180px;
}

#section-3 > *:not(:last-child) {
  margin-bottom: 70px;
}

/*
  Estilos de la seccion 4
*/
#section-4 {
  margin-bottom: 180px;
}

#section-4 .section-titles {
  margin-bottom: 0;
}

/*
  Estilos del footer
*/
.footer {
  background-color: hsla(200, 7%, 92%, 0.4);
}

.footer .img-container {
  width: 15%;
  margin: 40px 0;
}

.link-container > *:not(:last-child) {
  margin-bottom: 30px;
}

.link-container a {
  text-decoration: none;
  color: hsla(212, 10%, 33%, 0.8);
  font-weight: 500;
  font-size: 18px;
}

.icon-container {
  margin: 70px 0 50px;
}

.icon-container a {
  text-decoration: none;
}

.icon-container > *:not(:last-child) {
  margin-right: 35px;
}
